-content_for :head do
  =stylesheet_link_tag "app/#{controller_name}.#{action_name}"
  =stylesheet_link_tag "app/#{controller_name}.#{action_name}.rtl" if t('language_direction')=='rtl'

%h1 Single file uploader

:javascript
  $.pluploadUI.i18n.locale('#{I18n.locale}');

-['gears', 'silverlight', 'flash', 'html5', 'browserplus'].each do |runtime|
  %div.runtime{:class => runtime}
    %h3=runtime
    =render :partial => 'photo', :locals => {:photo => @article.photo}
    %div.single
      %div.info
        %div
          max file size
          =number_to_human_size(2.megabytes)
        %div
          allowed file types:
          jpg, gif, png, jpeg

      -javascript_tag do
        =render :partial => 'plupload_single.js', :locals => {:runtime => runtime}
    %div.clear

