<!DOCTYPE html>
<html>
<head>
  <title>Ror</title>
  <%= stylesheet_link_tag 'app/application' %>
  <%= stylesheet_link_tag 'app/application.rtl' if t('language_direction')=='rtl' %>

  <%= javascript_include_tag :jquery %>

  <%= javascript_include_tag 'vendor/plupload/plupload.full', 'vendor/jquery.i18n' %>
  <%= javascript_include_tag 'vendor/plupload-ui/jquery.plupload.ui', 'vendor/plupload-ui/i18n/en-US', 'vendor/plupload-ui/i18n/he-IL' %>

  <%= stylesheet_link_tag 'vendor/plupload-ui/jquery.plupload.ui.single', 'vendor/plupload-ui/jquery.plupload.ui.queue' %>

  <%= csrf_meta_tag %>
  
  <%= yield :head %>

</head>
<body>

<% flash.each do |name, message| %>
  <div class="<%=name%>"><%= message %></div>
<% end %>

<div class="flags">
  <%= render 'layouts/flags' %>
</div>

<div class="nav">
  <%= link_to 'Home', root_path %>
  |
  <%= link_to 'Single upload', single_path %>
  |
  <%= link_to 'Multi upload queue', queue_path %>
</div>

<%= yield %>

</body>
</html>
